body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #4d4d4d;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.center{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
}

.grid{
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 100px;
  align-items: center;
}
.grid-2{
  box-sizing: border-box;
  padding: 1.8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1px;
}
.text {
  padding: 50px;
}

.text h3{
  margin-bottom: 1.5rem;
}

.text p {
  color: #4d4d4d;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  
}

@media (max-width: 1000px) {
  .grid h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .d-ano{
    padding: 50px;
    
  }
}
